@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
          background: #efefef;
          height: 35px;
          margin: 10px 0px;
          border-radius: 3px;
          border: 1px solid lightgrey;
          padding: 19px;
}